<section class="main-body-wrapper">
    
        <div class = "container head-banner">
          <h3>Welcome to the NetApp Product Security Baseline (PSB)!</h3>
        </div>
        
        <div class="container first-table">
          <div>
            <span style="font-size : 22px; font-weight : 600">Fill the Table</span>
            <span class="form-status" ng-if="rejected">Form Status : Rejected</span>
            <span class="form-status accepted" ng-if="rejected == false">Form Status : Approved</span>
            <a class="pull-right" ui-sref = "help">Need help?</a>
        </div>
          <table class="table">
            <thead>
              <tr>
                <th>Number</th>
                <th>Requirement</th>
                <th>Why?</th>
                <th>Status<span class="mandatory">*</span></th>
                <th>Justification<span class="mandatory">*</span></th>
              </tr>
            </thead>
            <tbody ng-form = "psbForm">
              <tr ng-repeat="tableData in tableDataIterator" ng-if="tableData.psb_id !== undefined">
                <td >{{tableData.psb_id}}</td>
                <td >{{tableData.requirement}}</td>
                <td >{{tableData.reason}}</td>
                <td >
                  <select ng-model="tableData.status" ng-required = "true" ng-disabled="rejected == false"> 
                    <option 
                     ng-repeat="statusOption in statusOptions">{{statusOption}}</option>
                  </select>
                </td>
                <td><input 
                  ng-required="true" 
                  ng-model="tableData.justification" 
                  ng-disabled="rejected == false"
                  type = "text" placeholder="Put in justification" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <footer>
        <div class="footer-btn container">
          <!--Upload Button -->
          <div class="col-md-4">
              <form>
                  <div class="form-group">
                      <input type="file" demo-file-model="myFile"  class="form-control filed" id ="myFileField"/>
                      <button ng-click="uploadFile()" class = "btn btn-primary">Upload File</button>
                  </div>
                  
              </form>
          </div>

          <div class="col-md-8">
            <button class="btn btn-lg btn-primary pull-right" 
            ng-disabled="psbForm.$invalid || rejected == false" 
            ng-click="submitPsbForm()"
            ng-if="!isAdminViewing">Submit</button>
            <button class="btn btn-lg btn-primary pull-right" 
            ng-disabled="rejected == false" 
            ng-click="draftPSBForm()">Save as Draft</button>
	    <button class="btn btn-primary pull-left"
          ng-click="backbutton()"
          >Back</button>
        </div>
        </div>
      </footer>
    
    <style>
      table {
      border : 1px solid #000;
      }
      .table > thead > tr > th {
        border : none;
      }
      .footer-btn > .btn{
        width : 30%;
      }
      .filed {
        width: 14em;
        float: left;
      }
    </style>
